<%- include('../partials/header'); -%>

  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Dane do faktur</h1>
    </div>
    <div class="row text-center flex-wrap">
      <table class="table">
        <thead>
          <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa firmy</th>
            <th>NIP</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% invoicesData.forEach(function(invoiceData){ %>
            <tr>
              <th>
                <%= invoiceData.first_name %>
              </th>
              <th>
                <%= invoiceData.last_name %>
              </th>
              <th>
                <%= invoiceData.company_name %>
              </th>
              <th>
                <%= invoiceData.company_vat_number %>
              </th>
              <th>
                <%= invoiceData.company_address %>
              </th>
              <th>
                <%= invoiceData.company_phone %>
              </th>
              <th>
                <%= invoiceData.company_email %>
              </th>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('../partials/footer') -%>