<%- include('./partials/header'); -%>

  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Twoje konto</h1>
    </div>
    <div>
      <p>Login: <%= account.username %>
      </p>
      <p>Email: <%= account.email %>
      </p>
      <p>Rola: <%= account.role_id %>
      </p>
    </div>
  </div>

  <%- include('./partials/footer') -%>