<%- include('../partials/header'); -%>

  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Wystawione faktury</h1>
    </div>
    <div class="row text-center flex-wrap">
      <table class="table">
        <thead>
          <tr>
            <th>Id zespołu</th>
            <th>Firma</th>
            <th>Id danych do faktury</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <% invoices.forEach(function(invoice){ %>
            <tr>
              <th>
                <%= invoice._id %>
              </th>
              <th>
                <%= invoice.is_b2b %>
              </th>
              <th>
                <%= invoice.invoice_data_id %>
              </th>
              <th>
                usuń, szczegóły, edytuj, wyślij wiadomość
              </th>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('../partials/footer') -%>