<%- include('../partials/header'); -%>

  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Zarejestrowani użytkownicy</h1>
    </div>
    <div class="row text-center flex-wrap">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Rola</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user){ %>
            <tr>
              <th>
                <%= user._id %>
              </th>
              <th>
                <%= user.username %>
              </th>
              <th>
                <%= user.email %>
              </th>
              <th>
                <%= user.role_id %>
              </th>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('../partials/footer') -%>